<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin=">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <h1>My Cryptocurrency Tracker - By BKLau</h1>
      <h3>Displaying the latest Crypto prices from Coingecko API</h3>

      <table class="table">
         <thead class="thead-dark">
           <tr>
             <th scope="col">Name</th>
             <th scope="col">Symbol</th>
             <th scope="col">Market Cap Rank</th>
             <th scope="col">Price</th>
           </tr>
         </thead>


         <tbody>

           {% for obj in results %}
           <tr>
             <td>{{obj.name}}</td>
             <td>{{obj.symbol}}</td>
             <td>{{obj.market_cap_rank}}</td>
             <td>{{obj.current_price}}</td>
           </tr>
           {% endfor %}

         </tbody>
        </table>
    </div>
  </body>
</html>